
a{
	padding: 40px;
	text-decoration: none;
	color:black;

}
.image1{
     height:800px;
	background-image:url("laptop2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.6;
}
.classheader{
	height: 40px;
}
#z1{
	margin-top:400px;
	text-align: center;
	font-size: 20px;
	padding-top: 20px;
}

.sec1{
	text-align: center;
 font-size: 30px;
}
.sec2{
	float:left;
	width:22%;
	border:1px solid black;
	height:280px;
	padding:10px;
	margin-left: 80px;
	text-align: center;
}
.image2{
	height:100px;
	border-radius: 60px;
	margin-left: 20px;
	width:100px;
}
.x1{
		background-image: url("workplace.jpeg");
	height: 200px;
background-repeat: no-repeat;
margin-left: 200px;
margin-top: 90px;
border-radius: 50px 90px 90px 50px;
width: 220px;


}
.x2{
	border:5px solid black;
	height:200px;
	background-repeat: no-repeat;
	margin-left: 190px;
	margin-top: 90px;
	border-radius: 50px 150px 150px 50px;
	width:250px;
	position: absolute;
	top: 1700px;
	left: 3px;
	z-index: -1;
	

}
.z3
{
	background-image: url("workplace.jpeg");
	height: 200px;
background-repeat: no-repeat;
margin-left: 200px;
margin-top: 90px;
border-radius: 50px 90px 90px 50px;
width: 220px;

}
.z4
{
	border:5px solid black;
	height:200px;
	margin-left: 150px;
	border-radius: 50px 150px 150px 50px;
	width:250px;
	position: absolute;
	top: 950px;
	left: 740px;

}
.image4{
	background-image: url("laptop1.jpeg");
    
	height:550px;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	opacity: 0.67;


}
.form1{
	margin-left: 250px;
	margin-top: 150px;
}
		img{
			width:100%;
		}
	
		.height { 
			height: 10px; 
		} 
		
		/* Image-container design */ 
		.main { 
			max-width: 500px; 
			position: relative; 
			margin: auto; 
          
		} 
		
		.next { 
			 
			margin-left: 100% !important;
			font-size: 30px;
		} 
		
		/* Next and previous icon design */ 
		.previous, 
		.next { 
			cursor: pointer; 
			position: absolute; 
			top: 50%; 
			padding: 10px; 
			margin-top: -25px; 

		} 
		
		/* caption decorate */ 
		.captionText { 
			color: #000000; 
			font-size: 14px; 
			position: absolute; 
			padding: 12px 12px; 
			bottom: 8px; 
			width: 100%; 
			text-align: center; 
		} 
		
		
		.fa { 
			font-size: 32px; 
		} 
		
		.fa:hover { 
			transform: rotate(360deg); 
			transition: 1s; 
			color: white; 
		} 
		
		.round { 
			cursor: pointer; 
			height: 15px; 
			width: 15px; 
			margin: 0 2px; 
			background-color: #bbbbbb; 
			border-radius: 50%; 
			display: inline-block; 
			transition: background-color 0.5s ease; 
		} 
		
		.active, 
		.round:hover { 
			background-color: black; 
		}
		.img2{
			width:400px;
			height:300px;

		} 
